@import "assets/styles/scss/variables";
$theme-colors: (
        "primary":    $primary,
);
html, body{
  font-family: 'Ubuntu', sans-serif !important;
  width: 100%;
  height: 100%;
  #root{
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
@import "~bootstrap/scss/bootstrap";
@import "assets/styles/scss/general";
@import "assets/styles/scss/header";
@import "assets/styles/scss/main";
@import "assets/styles/scss/footer";

